.multiline_code {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
}
.multiline_code pre { margin: 0px }

div.multiline_code { }

span.multiline_code { white-space: pre; border: 0px; padding: 2px }

table.multiline_code { border-collapse: collapse; width: 100%; padding: 2px }
table.multiline_code td { padding: 2px 4px; vertical-align: top }

.multiline_code .line_numbers, .multiline_code .no {
  background-color: #def;
  color: gray;
  text-align: right;
}
.multiline_code .line_numbers tt { font-weight: bold }
.multiline_code .no { padding: 0px 4px }
.multiline_code .code { width: 100% }

ol.multiline_code { font-size: 10pt }
ol.multiline_code li { white-space: pre }

.multiline_code .code pre { overflow: auto }

.multiline_code .af { color:#00C }
.multiline_code .an { color:#007 }
.multiline_code .av { color:#700 }
.multiline_code .aw { color:#C00 }
.multiline_code .bi { color:#509; font-weight:bold }
.multiline_code .c  { color:#888 }

.multiline_code .ch { color:#04D }
.multiline_code .ch .k { color:#04D }
.multiline_code .ch .dl { color:#039 }

.multiline_code .cl { color:#B06; font-weight:bold }
.multiline_code .co { color:#036; font-weight:bold }
.multiline_code .cr { color:#0A0 }
.multiline_code .cv { color:#369 }
.multiline_code .df { color:#099; font-weight:bold }
.multiline_code .di { color:#088; font-weight:bold }
.multiline_code .dl { color:black }
.multiline_code .do { color:#970 }
.multiline_code .ds { color:#D42; font-weight:bold }
.multiline_code .e  { color:#666; font-weight:bold }
.multiline_code .en { color:#800; font-weight:bold }
.multiline_code .er { color:#F00; background-color:#FAA }
.multiline_code .ex { color:#F00; font-weight:bold }
.multiline_code .fl { color:#60E; font-weight:bold }
.multiline_code .fu { color:#06B; font-weight:bold }
.multiline_code .gv { color:#d70; font-weight:bold }
.multiline_code .hx { color:#058; font-weight:bold }
.multiline_code .i  { color:#00D; font-weight:bold }
.multiline_code .ic { color:#B44; font-weight:bold }

.multiline_code .il { background: #eee }
.multiline_code .il .il { background: #ddd }
.multiline_code .il .il .il { background: #ccc }
.multiline_code .il .dl { font-weight: bold ! important; color: #888 ! important }

.multiline_code .in { color:#B2B; font-weight:bold }
.multiline_code .iv { color:#33B }
.multiline_code .la { color:#970; font-weight:bold }
.multiline_code .lv { color:#963 }
.multiline_code .oc { color:#40E; font-weight:bold }
.multiline_code .on { color:#000; font-weight:bold }
.multiline_code .op { }
.multiline_code .pc { color:#038; font-weight:bold }
.multiline_code .pd { color:#369; font-weight:bold }
.multiline_code .pp { color:#579 }
.multiline_code .pt { color:#339; font-weight:bold }
.multiline_code .r  { color:#080; font-weight:bold }

.multiline_code .rx { background-color:#fff0ff }
.multiline_code .rx .k { color:#808 }
.multiline_code .rx .dl { color:#404 }
.multiline_code .rx .mod { color:#C2C }
.multiline_code .rx .fu  { color:#404; font-weight: bold }

.multiline_code .s  { background-color:#fff0f0 }
.multiline_code .s  .s { background-color:#ffe0e0 }
.multiline_code .s  .s  .s { background-color:#ffd0d0 }
.multiline_code .s  .k { color:#D20 }
.multiline_code .s  .dl { color:#710 }

.multiline_code .sh { background-color:#f0fff0 }
.multiline_code .sh .k { color:#2B2 }
.multiline_code .sh .dl { color:#161 }

.multiline_code .sy { color:#A60 }
.multiline_code .sy .k { color:#A60 }
.multiline_code .sy .dl { color:#630 }

.multiline_code .ta { color:#070 }
.multiline_code .tf { color:#070; font-weight:bold }
.multiline_code .ts { color:#D70; font-weight:bold }
.multiline_code .ty { color:#339; font-weight:bold }
.multiline_code .v  { color:#036 }
.multiline_code .xt { color:#444 }
